* {
    box-sizing: border-box;
    
}

.jumbotron {
    background-color: royalblue;
    text-align: center;
}

.card-footer {
    text-align: center;
}

img {
    width: 100%;
    filter: invert(100%) ;
}